{
	"assetDirectories": [
		"../assets/",
		"../modules/",
		"../../data/mods/"
	],
	"storageDirectory": "../../data/storage/",
	"assetsSettings": {
		"pathIgnore": [],
		"digestIgnore": [
			".*"
		]
	},
	"defaultConfiguration": {
		"allowAdminCommandsFromAnyone": false,
		"anonymousConnectionsAreAdmin": false
	}
}
